
@{
    ViewBag.Title = "FileNotFound";
}
<body class="text-center Error-Body">

    <div class="container-fluid text-center">
        <div class="row full-page">
            <h1 style="color:white; font-size:200px">400</h1>
            <p class="lead" style="color:white;">We Are Unable To Find The Page You Are Looking For :(</p>
            @Html.ActionLink("Back To Home", "Index", "Home", null, new { @class = "btn", @style = "background:transparent; border:2px solid white; color:white" })
        </div>        
    </div>
</body>

